@import url('https://fonts.googleapis.com/css?family=Manjari|Staatliches&display=swap');

body {font-family: 'Manjari', sans-serif;}

h1,h2,h3,h4,h5,h6, a, Link {font-family: 'Staatliches', cursive;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
